# https://docs.docker.com/build/building/context/#dockerignore-files
# Ignore OS-specific files and source-related noise, but don't ignore * by default
# to avoid the CopyIgnoredFile warning when using COPY . /app
.git
.github
docs/
*.bak
*.md
LICENSE
Dockerfile*
docker-compose*
.dockerignore
.vscode
.idea
!docs/dynacat.yml
